# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
appsettings.json

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
